name: Cypress Tests

on: 
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run --env "username=${{ secrets.username }},password=${{ secrets.password }}"
        uses: cypress-io/github-action@v6
        with:
          browser: chrome  
