name: Cypress Tests

on: 
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  cypress-run:
    env:
      CYPRESS_USERNAME: 'thunguyen18.vn@gmail.com'
      CYPRESS_PASSWORD: '123321a@'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: cypress run 
        uses: cypress-io/github-action@v6
        with:
          browser: chrome  
