name: Cypress Tests

on: 
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  cypress-run:
    env:
      cypress_username:  ${{secrets.username}}
      cypress_password: ${{secrets.password}}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: cypress run 
        uses: cypress-io/github-action@v6
        with:
          browser: chrome  
