name: Cypress Tests

on: 
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: cypress run --env "username=thunguyen18.vn@gmail.com,password=123321a@"
        uses: cypress-io/github-action@v6
        with:
          browser: chrome  
